<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/orders.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (orders.length) { %>

    <ul class="orders">
      <% orders.forEach(order => { %>
      <li class="orders__item">
        <h1>Order - # <%= order._id %></h1>
        <ul class="orders__products">
          <% order.products.forEach(item => { %>
          <li class="orders__products-item"><%= item.title %> (<%= item.qty %>) - <a
              href="/orders/<%= order._id %>">Invoice</a></li>
          <% }); %>
        </ul>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <h1>No orders yet</h1>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>