<!-- Head Partial -->
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/product.css">
</head>

<body>
  <!-- Navigation Partial -->
  <%- include('../includes/navigation.ejs') %>

  <main class="centered card">
    <h1><%= product.title %></h1>

    <hr>

    <div class="card__image">
      <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    </div>

    <h2><%= product.price %></h2>
    <p><%= product.description %></p>

    <%- include('../includes/add-to-cart.ejs', {product}) %>
  </main>

  <!-- End Partial -->
  <%- include('../includes/end.ejs') %>