<!-- Head Partial -->
<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/styles/product.css">
<link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
  <!-- Navigation Partial -->
  <%- include('../includes/navigation.ejs') %>

  <main>
    <%- include('../includes/errors.ejs') %>
    <form class="product-form" action="/admin/products/add" method="POST" enctype="multipart/form-data">
      <div class="form-control">
        <label for="title">Title</label>
        <input class="<%= errors.find(e => e.path === 'title') ? 'invalid' : '' %>" type="text" name="title" id="title"
          value="<%= prevInput.title %>" required />
      </div>


      <%- include('../includes/image-upload.ejs') %>

      <div class="form-control">
        <label for="price">Price</label>
        <input class="<%= errors.find(e => e.path === 'price') ? 'invalid' : '' %>" type="number" name="price"
          id="price" step="0.01" value="<%= prevInput.price %>" required />
      </div>

      <div class="form-control">
        <label for="description">Description</label>
        <textarea class="<%= errors.find(e => e.path === 'description') ? 'invalid' : '' %>" name="description"
          id="description" rows="5" required><%= prevInput.description %></textarea>
      </div>

      <button class="btn" type="submit">Add Product</button>
    </form>
  </main>

  <!-- End Partial -->
  <%- include('../includes/end.ejs') %>