<section class="pagination">
  <% if (currentPage !== 1 && prevPage !== 1) {%>
  <a href="<%= path %>?page=1">1</a>
  <% } %>

  <% if (hasPrevPage) { %>
  <a href="<%= path %>?page=<%= prevPage %>"><%= prevPage %></a>
  <% } %>


  <a href="<%= path %>?page=<%= currentPage %>" class='active'><%= currentPage %></a>

  <% if (hasNextPage) { %>
  <a href="<%= path %>?page=<%= nextPage %>"><%= nextPage %></a>
  <% } %>

  <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
  <a href="<%= path %>?page=<%= lastPage %>"><%= lastPage %></a>

  <% } %>
</section>